:root {
  --colorTextprimary: #ffffff;
  --colorTextAccount: #fbd784;
  --colorBackground: #0b1d26;
}
/* ---------GlobaL-------- */
body {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  font-weight: 700px;
  color: var(--colorTextprimary);
  background-color: var(--colorBackground);
}

/* -------------------------HeadeR----------------- */
.logo {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0, 01em;
  text-transform: uppercase;
}
.action-link {
  font-size: 17px;
  font-weight: 900;
}
/* -------------------------------MaiN----------------------------- */
